html {
    font-size:16px;
  }

@font-face {
    font-family: "Acme-Regular";
    src: url("Acme-Regular.ttf");
    font-weight: bold;
  }

.background {
   color:aliceblue;
   background-image:url("curtains.jpg");
   background-size: cover;
   height:49.5rem;
   width:auto;
   background-repeat: no-repeat;
}

h1 {
   font-family: Acme-Regular;
   Font-size: 3rem;
   color:rgb(244, 209, 72);
   text-align: center;
}

.fortune {
   position: absolute;
   top:30.75rem;
   left:35rem;
}

#result {
   position:absolute;
   left:33.75rem;
   top:10rem;
   display: solid;
   border-style: ridge;
   border-color: rgb(122, 2, 2);
   background-color:rgb(70, 68, 68);
   color:rgb(250, 246, 246);
   width: 25rem;
   height: 10rem;
   margin-left: auto;
   margin-right: auto;
   border-radius: 10px 10px 10px 10px;
   padding: 5px 5px 5px 5px;
   word-wrap: normal;
   font-family: Acme-Regular;
   font-size: 2rem;
   text-align: left;
}

.button {
   position: absolute;
   top:25rem;
   left:45rem;
   border: none;
   color: rgb(9, 9, 9);
   padding: 5px;
   text-align: center;
   text-decoration: none;
   border-radius:8px;
   font-family: Acme-Regular;
   font-size: 1rem;
   margin: 4px;
   cursor:pointer;
}

.button:hover{
   cursor: pointer;
   background-color: rgb(176, 14, 14);
}

